body{
    background:#FFF;
}
aside{
    float:left;
    background:#181818;
    width:25%;
    height:1200;
}

.No1{
  color:#eb5959;
  font-size:px;
  margin-left:30px;
  padding-top:20px;
}
.No2{
  color:#eb5959;
  margin-left:30;
  }
.No4{
    width:75%;

}
.No5{
    color:#181818;
    font-size: 30px;
    margin-left: 250px;
    padding-top:20px;
}
.No6{
    color:#181818;
    margin-left: 525px;
}
.No7{
    color:#181818;
    margin-left:700px;
}
.No8{
   width: 250px !important;
   height: 250px !important;
   padding-top:20px;
   margin-left:60px;
}
.No9{
   margin-top:20px;

}
.No10{
   color:#181818;
}
.No12{
   color:#181818;
}


.No13{
  width: 250px !important;
  height: 300px !important;
  position:absolute; top:0px; left:0px;
  position: absolute;

  margin-left:400px;
  padding-top:40px;
  float:left;


}

.No1313{
    position:relative;
    padding-top:90px;
    margin-left:40px;

}
.qw{
    margin-left:340px;

}


.No19{
  width: 150px !important;
  height: 150px !important;
  padding-top:50px;
}
.fab.fa-discord{
  color:#ffc107;
  padding-top:50px;
  margin-left:50px;
}
.fab.fa-vk{
    color:#fcf000;
    margin-left:50px;
}
.No20{
    color:#ffc107;
    padding:50px;
    padding-top:80px;
    margin:0;
}
a.No21{
    margin-left: 400px;
    vertical-align: 140px;
}
.No30{
    margin-left:900px;
}
.No31{
    margin-left:300px;
}
.No32{
    margin-left:450px;
}
.No33{
    margin-left:150px;
}
.No34{
    margin-left:160px;
}
.No35{
    margin-left:100px;
}
.No36{
    margin-left:110px;
}
.No37{
    margin-left:140px;
}
.No38{
    margin-left:150px;
}
.No39{
    margin-left:60px;
}


.No40{
    margin-left:300px;
}
.No41{
    margin-left:325px;
}
.No42{
    margin-left:210px;
}
.No43{
 margin-left:220px;
}
.No44{
 margin-left:245px;
}
.No45{
     margin-left:280px;
}
.No46{
     margin-left:120px;
}
.No47{
 margin-left:500px;
}






















